@import url('https://fonts.googleapis.com/css?family=Oxygen');
@import url('https://fonts.googleapis.com/css?family=Oxygen+Mono');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

:root {
	background-color: var(--bg-color-1);
	scroll-behavior: smooth;

	--heading-font: Ubuntu;
	--paragraph-font: Oxygen;
	--font-color: white;
	--bg-color-1: #222;
	--bg-color-2: #333;
	--bg-color-3: #444;
	--accent-color: lightskyblue;
	--scroll: 0;
}

body {
    color: var(--font-color);
	font-family: var(--paragraph-font, Arial);
	font-style: normal; 
	font-weight: 400;
	margin: 0;
}

h1 { 
	font-size: 5em;
	font-family: var(--heading-font, Arial); 
	font-style: normal; 
	font-weight: 800; 
	letter-spacing: 1px; 
	line-height: 1;
}

h2 { 
	font-size: 2em;
	font-family: var(--heading-font, Arial);
	font-style: normal;
	font-weight: 600;
	letter-spacing: 4px;
}

h3 { 
	font-family: var(--heading-font, Arial);
	font-size: 24px;
	font-style: normal;
	font-weight: 500;
	margin-top: 30px;
	margin-bottom: 10px; 
}

h4 { 
	font-family: var(--heading-font, Arial);
	font-size: 20px;
	font-style: normal;
	font-weight: 200;
	font-weight: 200;
	margin-top: 24px;
	margin-bottom: 12px; 
}

a {
    color: var(--accent-color);
}

iframe {
	border: none;
	margin: 1px;
}

a:hover {
    color: var(--font-color)
}

a:visited {
    color: var(--accent-color);
}

a:visited:hover {
	color: var(--font-color);
}

blockquote {
    background-color: var(--bg-color-3);
}

code {
	border: solid 1px lightgrey;
	padding: 0.25em 0.5em;
	background-color: var(--bg-color-1);
}

pre {
	overflow: auto;
	background-color: var(--bg-color-1);
	border: solid 1px grey;
	padding: 1%;
}

img {
	max-width: 100%;
}

video {
	max-width: 100%;
}

.top-banner {
	margin: 0px;
	padding: 0.5rem;
	background-color: var(--bg-color-3);
    text-align: center;
}

.nav-menu * {
	text-decoration: none;
	padding: 0.5em 1em;
	float: left;
}

nav a:hover {
	background-color: var(--bg-color-3);
}

nav a:visited {
	color: var(--accent-color);
}

#top-nav {
	position: sticky;
	top: 0;
	float: left;
	margin-left: 0%;
	z-index: 3;

	width: 100%;
	
	background: var(--bg-color-2);
	border-bottom: 1px solid var(--accent-color);
}

#top-nav input {
	position: absolute;
	opacity: 0;
}

#top-nav label {
	cursor: pointer;
	display: inline-block;
	padding: 0.5em 1em;
	border-right: 1px solid var(--bg-color-3)
}

#top-nav label .arrow {
	margin: -.125em 0 .5em .25em;

	transform: translateY(50%) rotate(45deg);
	-webkit-transform: translateY(50%) rotate(45deg);
}

#top-nav > input[type="checkbox"]:checked+label .arrow {
	transform: translateY(100%) rotate(-135deg);
	-webkit-transform: translateY(100%) rotate(-135deg);
}

#top-nav .nav-menu {
	display: none;
	position: relative;
	overflow: hidden;
	border-top: 1px solid var(--bg-color-3);
}

#menu-toggle:checked ~ .nav-menu {
	display: inherit;
}

.social-links {
	width: 75%;
	margin: auto;
	display: flex;
	flex-direction: row;
	z-index: 3;
}

.social-links a {
	flex: 1 1 auto;
	padding: 0;
	margin: 3% 2% 3% 2%;
	background-color: var(--bg-color-2);
	border-color: var(--accent-color);
	border-radius: 10%;
	transition: transform 0.25s ease-in;
}

.social-links a:hover {
	background-color: var(--bg-color-2);
	transition: transform 0.25s ease-in;
	transform: scale(1.1);
}

.social-links .icon {
	margin: 2%;
	width:98%;
	height: auto;
	filter: invert(100%);
}

.social-links .icon:hover {
	filter: brightness(0) saturate(100%) invert(79%) sepia(90%) saturate(2887%) hue-rotate(174deg) brightness(98%) contrast(101%) grayscale(0%);
}

.content {
    background-color: var(--bg-color-2);
	padding: 2%;
	margin-left: 3%;
    float: left;
	width: 90%;
}

.audio-container {
	border: 1px solid var(--bg-color-3);
	background-color: var(--bg-color-1);
	padding: 1%;
	margin: 1% 0 1% 0;
}

.audio-container audio {
	width: 100%;
}

.fourth-float-image {
	float: left;
	width: 25%;
	height: auto;
}

.fourth-float-tile {
	float: left;
	width: 25%;
}

.section-banner {
	background: var(--bg-color-3);
	width: 95.5%;
	float: left;
	padding-left: 4.5%;
}

.vertical-center {
	top: 50%;
	transform: translate(0, -50%);
}

@media only screen and (min-width: 640px) {
	.content {
		float: left;
		margin-left: 15%;
		width: 65%;
	}
}

@media only screen and (min-width: 1280px) {
	.content {
		float: left; 
		margin-left: 25%;
		width: 50%;
	}

	.social-links {
		width: 25%;
		margin: auto;
	}

	.audio-container {
		max-width: 60%;
	}

	.section-banner {
		padding-left: 27%;
		width: 73%;
	}
}

.pixelated {
	image-rendering: pixelated;
}

.arrow {
	border: solid white;
	border-width: 0 3px 3px 0;
	display: inline-block;
	
	padding: .25em;
}

.arrow.up {
	transform: translateY(100%) rotate(-135deg);
	-webkit-transform: translateY(100%) rotate(-135deg);
}
  
.arrow.down {
	transform: translateY(50%) rotate(45deg);
	-webkit-transform: translateY(50%) rotate(45deg);
}