@import url('https://fonts.googleapis.com/css?family=Oxygen');
@import url('https://fonts.googleapis.com/css?family=Oxygen+Mono');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

:root {
	--heading-font: Ubuntu;
	--paragraph-font: Oxygen;
	--font-color: white;
	--bg-color-1: #222;
	--bg-color-2: #333;
	--bg-color-3: #444;
	--accent-color: lightskyblue;
	--scroll: 0;
	scroll-behavior: smooth;
}

body {
	background-color: var(--bg-color-1);
    color: var(--font-color);
	font-family: var(--paragraph-font, Arial); 
	font-style: normal; 
	font-weight: 400;
	margin: 0px;
	display: inline;
}

h1 { 
	font-size: 5em;
	font-family: var(--heading-font, Arial); 
	font-style: normal; 
	font-weight: 800; 
	letter-spacing: 1px; 
	line-height: 1;
}

h2 { 
	font-size: 2em;
	font-family: var(--heading-font, Arial);
	font-style: normal;
	font-weight: 600;
	letter-spacing: 4px;
}

h3 { 
	font-family: var(--heading-font, Arial);
	font-size: 24px;
	font-style: normal;
	font-weight: 500;
	margin-top: 30px;
	margin-bottom: 10px; 
}

h4 { 
	font-family: var(--heading-font, Arial);
	font-size: 20px;
	font-style: normal;
	font-weight: 200;
	font-weight: 200;
	margin-top: 24px;
	margin-bottom: 12px; 
}

a {
    color: var(--accent-color);
}

a:hover {
    color: var(--font-color)
}

a:visited {
    color: var(--accent-color);
}

a:visited:hover {
	color: var(--font-color);
}

blockquote {
    background-color: var(--bg-color-3);
}

pre {
	overflow: auto;
}

img {
	max-width: 100%;
}

.top-banner {
	margin: 0px;
	padding: 0.5rem;
	background-color: var(--bg-color-3);
    text-align: center;
}

.side-nav {
	position: sticky;
	top: 0;
	float: left;
	margin-left: 0%;
	padding: 5px;
	z-index: 3;
}

.side-nav a {
	visibility: hidden;
	background-color: var(--bg-color-1);
	border: 1px solid var(--bg-color-3);
	filter: drop-shadow(0 0 2px black);
}

.side-nav:hover a {
	visibility: visible;
}

.side-nav:hover .icon {
	color: var(--font-color);
	background-color: var(--bg-color-3);
}

.side-nav .icon {
	float: left;
	color: var(--accent-color);
	border: 1px solid var(--bg-color-3);
	background-color: var(--bg-color-1);
	filter: drop-shadow(0 0 2px black);
	padding: 5px;
	margin: 3px;
}

.nav-frame {
	position: sticky;
	top: 0;
	width: 100%;
	height: 49px;
}

.social-links {
	bottom: 0;
	max-width: 50%;
	float: left;
	margin-left: 0%;
	margin-top: 1px;
	padding: 5px;
	z-index: 3;
}

.social-links a {
	margin: 0.5%;
	padding: 0;
	max-width: 15%;
	background-color: var(--bg-color-2);
	border-radius: 10%;
	filter: drop-shadow(0 0 3px black);
}

.social-links a:hover {
	background-color: var(--bg-color-3);
}

.social-links .icon {
	vertical-align: middle;
	filter: invert(50%);
}

.social-links .icon:hover {
	filter: invert(100%);
}

nav a {
	text-decoration: none;
	padding: 5px;
	margin: 3px;
	float: left;
}

nav a:hover {
	background-color: var(--bg-color-3);
}

nav a:visited {
	color: var(--accent-color);
}

.content {
    background-color: var(--bg-color-2);
	padding: 2%;
	margin: 0% 2.5%;
    float: left;
	width: 90%;
}

.forty-four-width-float-container {
	left: 0; 
	width: 43%;
	margin: 0% 1% 1% 0%;
	height: 0; 
	position: relative; 
	padding-bottom: 32.3%; 
	float: left;
}

.fifty-four-width-float-container {
	left: 0; 
	width: 55%;
	margin: 0% 1% 1% 0%;
	height: 0; 
	position: relative; 
	padding-bottom: 32.3%; 
	float: left;
}

.third-float-container {
	left: 0; 
	width: 49%;
	margin: 0% 1% 1% 0%;
	height: 0; 
	position: relative; 
	padding-bottom: 49%; 
	float: left;
}

.two-third-float-container {
	left: 0;
	width: 99%;
	margin: 0% 1% 1% 0%;
	height: 0; 
	position: relative; 
	padding-bottom: 49%; 
	float: left;
}

.full-float-container {
	left: 0; 
	width: 99%;
	margin: 0% 1% 1% 0%;
	height: 0; 
	position: relative; 
	padding-bottom: 49%;
	float: left;
}

.smooth-expand {
	transition: transform 0.5s;
}

.smooth-expand:hover {
	transform: scale(1.025);
	transition: transform 0.5s;
}

.audio-container {
	border: 1px solid var(--bg-color-3);
	background-color: var(--bg-color-1);
	padding: 1%;
	margin: 1% 0 1% 0;
}

.audio-container audio {
	width: 100%;
}

.third-float-tile {
	background-color: var(--bg-color-1);
	border: 1px solid var(--bg-color-3);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
}

.third-float-tile:hover {
	border-color: var(--accent-color);
	z-index: 2;
}

.third-float-padding {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute
}

.fourth-float-image {
	float: left;
	width: 25%;
	height: auto;
}

.fourth-float-tile {
	float: left;
	width: 25%;
}

.tile-subtitle {
	text-align: center;
}

/*Animations*/
@keyframes verticalBob {
	from {
		top: 15%
	}

	to {
		top: 55%
	}
}

@keyframes doorSlide {
	from {
		left: 0%;
	}

	to {
		left: -100%;
	}
}

.pixelated {
	image-rendering: pixelated;
}

.animDoor {
	width: 100%;
	height: auto;
	position: relative;
	left: calc(var(--scroll) * 100%);

	animation: doorSlide 2s ease-in-out infinite;
	animation-play-state: paused;
	animation-delay: calc(var(--scroll) * -2s);
}

.animKey {
	margin-left: 37.5%;
	height: 25%;
	width: auto;
	position: absolute;
	animation: verticalBob 1s ease-in-out infinite alternate;
	animation-play-state: paused;
	animation-delay: calc(var(--scroll) * 1.5s);
}

.keyTainer {
	float: left;
	position: relative;
	height: 0;
	padding-top: 25%;
	width: 25%;
}

.key-shadow {
	position: absolute;
	background-color: black;
	margin-top: -15%;
	margin-left: 37.5%;
	width: 25%;
	height: 8%;
	border-radius: 100%;
}

.show-on-hover {
	opacity: 0.0;
	transition: opacity 0.5s;
}

.third-float-tile:hover > .show-on-hover {
	opacity: 1.0;
}

.hide-on-hover {
	opacity: 1.0;
	transition: opacity 0.5s;
}

.third-float-tile:hover > .hide-on-hover {
	opacity: 0.0;
}

.section-banner {
	background: var(--bg-color-3);
	width: 95.5%;
	float: left;
	padding-left: 4.5%;
}

.vertical-center {
	top: 50%;
	transform: translate(0, -50%);
}

@media only screen and (min-width: 1024px) {
	.content {
		float: left; 
		margin-left: 25%;
		width: 50%;
	}

	.social-links {
		max-width: 20%;
	}
	
	.third-float-container {
		left: 0; 
		width: 32.3%;
		margin: 0% 1% 1% 0%;
		height: 0; 
		position: relative; 
		padding-bottom: 32.3%; 
		float: left;
	}
	
	.two-third-float-container {
		left: 0;
		width: 65.6%;
		margin: 0% 1% 1% 0%;
		height: 0; 
		position: relative; 
		padding-bottom: 32.3%; 
		float: left;
	}
	
	.full-float-container {
		left: 0; 
		width: 99%;
		margin: 0% 1% 1% 0%;
		height: 0; 
		position: relative; 
		padding-bottom: 32.3%;
		float: left;
	}

	.audio-container {
		max-width: 60%;
	}

	.section-banner {
		padding-left: 27%;
		width: 73%;
	}
}