iframe {
	border: none;
	margin: 1px;
}

.tile-container {
	left: 0;
	height: 0;
	margin: 0% 1% 1.75em 0;
	position: relative;
	float: left;
}

.tile-container {
	width: 49%;
	padding-bottom: 49%; 
}

.tile-container[data-columns="2"] {
	width: 99%;
	padding-bottom: 49%; 
}

.tile-container[data-columns="3"] {
	width: 99%;
	padding-bottom: 49%;
}

.tile-content {
	background-color: var(--bg-color-1);
	border: 1px solid var(--bg-color-3);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
}

.tile-content img {
	width: 100%;
	position: absolute;
	align-self: center;
	top: 50%;
	transform: translate(0, -50%);
}

.tile-content video {
	width: 100%;
	height: 100%;
	position: absolute; 
	background: black;
}

.tile-content .subtitle {
	background-color: rgba(0,0,0, 0.25);
	color: var(--font-color);
	font-family: var(--paragraph-font, Arial);
	font-style: normal; 
	font-weight: 400;
	text-align: center;
	width: 100%; 
	position: absolute; 
	bottom: -1.25em;
}

.tile-content:hover {
	border-color: var(--accent-color);
	z-index: 2;
}

@media only screen and (min-width: 1280px) {
	.tile-container {
		width: 32.3%;
		padding-bottom: 32.3%; 
	}
	
	.tile-container[data-columns="2"] {
		width: 65.6%;
		padding-bottom: 32.3%;
	}
	
	.tile-container[data-columns="3"] {
		width: 99%;
		padding-bottom: 32.3%;
	}
}

/* SHOW/HIDE ON HOVER */

.show-on-hover {
	opacity: 0.0;
	transition: opacity 0.5s ease-in;
}

.show-on-hover:hover {
	opacity: 1.0;
}

.tile-content:hover .show-on-hover {
	opacity: 1.0;
}

.hide-on-hover {
	opacity: 1.0;
	transition: opacity 0.5s ease-in;
}

.hide-on-hover:hover {
	opacity: 0.0;
}

.tile-content:hover .hide-on-hover {
	opacity: 0.0;
}

.smooth-expand {
	transition: transform 0.25s ease-in;
}

.smooth-expand:hover {
	transform: scale(1.025);
	transition: transform 0.25s ease-in;
}