Redirect 301 /5-airwindows-plugins-for-sound-design /articles/5-airwindows-plugins-for-sound-design
Redirect 301 /designing-my-first-quake-map /articles/designing-my-first-quake-map
Redirect 301 /rhetorical-sound-design /articles/rhetorical-sound-design
Redirect 301 /sound-effect-variation-in-unity /articles/sound-effect-variation-in-unity
Redirect 301 /looping-music-in-unity /articles//looping-music-in-unity